body {
    font-size: 14pt;
    padding-bottom:50px;
    padding-top: 20px;
}
.container-fluid {
    padding-left: 100px;
    padding-right: 100px;
}
tr td:nth-child(1) {
    /*background: black;*/
    font-weight: 900;
}
table {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
#frame_table td {
    vertical-align: middle;
}
thead {
    font-weight: bold;
    text-align: center;
}
.display {
    background: rgba(0, 0, 0, 0.1);
}
.display td {
    height: 0px;
    padding:0px;
}
.bar {
    background: rgba(0, 0, 0, 0.7);
    height: 10px; 
    border-radius: 10px;
}
.bar_container {
    margin-top: 3px;
    width:100%; 
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.my_badge {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    font-size: 12pt;
}

.my_badge:hover {
    cursor: pointer;
    color: white;
    background: rgba(0, 0, 0, 0.7);
}
.story_block {
    border-radius: 5px;
    border: 2px rgba(70, 70, 70, 1) solid;
    margin-top:10px;
    margin-bottom:10px;
    /*box-shadow: 0 0 3px black;*/
    padding: 10px;
    word-wrap: break-word;
}
/*.story_block:hover {
    box-shadow: 0 0 10px yellow;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.05);
}
.story_block:active {
    box-shadow: 0 0 10px blue;
}
.selected_story_block {
    box-shadow: 0 0 10px blue;
}*/
.story_block pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    font-size: 100%;
}
#instruction {
    font-size: 16pt;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    padding: 15px;
}
#instruction strong {
    background-color: yellow;
}
.highlight {
    text-decoration: underline;
    font-weight: 900;
    color:red;
}
.options {
    font-size: 17pt;
    text-align: center;
    cursor:pointer;
}
.options:hover {
    /*text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);*/
    text-decoration: underline;
}
.box {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    border: 3px black solid;
    position: relative;
    margin-right: 5px;
}
.box::after {
    display: inline-block;
    content:"";
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top:2px;
    position: relative;
}
.selected_box::after {
    display: inline-block;
    content:"";
    width: 15px;
    height: 15px;
    background: black;
    border-radius: 15px;
    top:2px;
    position: relative;
}
#warning {
    text-align: center;
    color:red;
    font-weight: bold;
}