body {
    font-size: 11pt;
}
tr td:nth-child(1) {
    /*background: black;*/
    font-weight: 900;
}
table {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
#frame_table td {
    vertical-align: middle;
}
thead {
    font-weight: bold;
    text-align: center;
}
.display {
    background: rgba(0, 0, 0, 0.1);
}
.display td {
    height: 0px;
    padding:0px;
}
.bar {
    background: rgba(0, 0, 0, 0.7);
    height: 10px; 
    border-radius: 10px;
}
.bar_container {
    margin-top: 3px;
    width:100%; 
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.my_badge {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    font-size: 12pt;
}

.my_badge:hover {
    cursor: pointer;
    color: white;
    background: rgba(0, 0, 0, 0.7);
}